body {
    background-color: #312c2c;
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la ventana */
}

.fondo {
    
        background-color: #3f3f40;
}
    
.form{
        width: 700px;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        display: grid;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        top: 40%; 
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px; 
        color: rgb(230, 236, 235);
        background-color: rgba(0, 0, 0, 0.9); 
        opacity: 0; 
        animation: fadeIn 1s forwards; /* Animación de aparición gradual */
        padding: 10px; /* Espaciado interno del texto */
        border-radius: 10px; 
    
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .title {
        color: white;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }

.input {
    justify-content: center;
    border: 1px solid #9cb3e2;
    border-radius: 7px;
    font-size: 16px;
    padding: 20px;
    outline: none;
    background: none;
    background-color: #3f3f40;
    z-index: 1;
    height: 20px;
    width: 350px;
    color: #DADCE0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    background-color: rgb(63, 97, 136);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    border: 2px solid rgb(63, 97, 136);
    border-radius: 10px;
    padding: 5px 5px; 
    font-size: 20px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    align-self: flex-end; /* Alinea el botón al extremo derecho del contenedor */
    margin-right: 10px; /* Agrega un margen derecho para separar el botón del texto */
}
.button:hover {
    background-color: white; 
    color: rgb(63, 97, 136); 
}

.button:active {
    background-color: white; 
    color: rgb(63, 97, 136); 
    border-color: rgb(63, 97, 136); 
} 
.button:disabled {
    background-color: rgb(108, 133, 161);; 
    cursor: not-allowed; /* Cambia el cursor para indicar que está deshabilitado */
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* espacio entre los botones */
    margin-top: 10px;
}